.table-Pagination {
    border: 1px solid #1c8bce;
    border-radius: 10px;
    padding: 20px 20px;
    background-color: rgb(249, 254, 254);
}
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.title {
    font-weight: 600;
    font-size: 19px;
    color: white;
}
.title-and-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}