.beneficiary-details-page{
    .css-dev-only-do-not-override-k7429z.ant-btn {
        background-color: #3C5AB7;
        color: #FFFFFF;
        font-size: 14px;
        height: 32px;
        padding: 4px 20px;
        border-radius: 6px;
    }
}