.beneficiaryDetailsPage {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;

    table {
        border: 1px solid #000000;
        // border-radius: 30px;
        border-collapse: collapse;

        // border-style: outset;
        td {
            border: 1px solid #000000;
            //   border-collapse: collapse;
            // border-top-left-radius: 10px;
            border-radius: none;
            padding: 15px;
            width: 50%;
        }
    }

    .detailsContainer {
        margin: 50px 0 0 0;

        .deatailsCol {
            margin: 0 0 20px 0;
        }

    }

    .footerRow {
        padding: 30px 100px 0 100px;

        .footerLeft {
            text-align: left;
        }

        .footerRight {
            text-align: right;
        }

    }
}