.titleBarPage {
    .titleBarContainer{
        background-color: #1C8BCE;
        height: 35px;
        // display: flex;
        align-items: center;
        color: hsl(0, 0%, 100%);  
        .titleContainer{
            text-align: start;  
            overflow: hidden;
            .title {
                font-weight: 600;
                font-size: 16px;
                line-height: 130%;
            }
        }
        .loginUserContainer {
            text-align: end;
            .loginUserTitle{
                font-size: 19px;
            }
        }
    }
}