.signInPage {
    @media only screen and (max-width: 480px) {
        .signinConatiner {
            margin: 4vw;
    }
    }
    .signinConatiner {
        display: flex;
        justify-content: center;
        align-items: center;

        .cardConatiner {
            border: 1px solid black;
            margin: 40px 0;
            width: 600px;
            @media only screen and (min-width: 480px) {
                padding: 0 0 20px 0;
            }
            padding: 20px;
            border-radius: 40px;
        }

        .cardTitle {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
        }
        .divider {
            margin: 10px 30px 30px;
            border: 0.1px solid #000000;
        }
        .buttonPlace {
            text-align: end;
            .resendOtp {
                align-items: end;
                color: #30930D;
            }
            .timer {
                color: #F24E1E;
            }
        }
    }
}