.report-page-list {
    .css-dev-only-do-not-override-1sn0ohr.ant-table-wrapper .ant-table-thead {
        color: #000000;
        font-weight: 600;
        font-size: 13px;
    }

    .css-dev-only-do-not-override-1sn0ohr.ant-table-wrapper .ant-table-thead>tr {
        // border: 1px solid;
        // border-radius: 10px;
    }

    .css-dev-only-do-not-override-1sn0ohr.ant-table-wrapper .ant-table-thead>tr>th {
        // border: 1px solid #000000;
        background-color: #ABD2F6;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }
    // .css-dev-only-do-not-override-1sn0ohr.ant-table-wrapper.ant-table.ant-table-container.ant-table-content table{
    //         table-layout: auto;
    //         // width: 100%;
    //     }

    .css-dev-only-do-not-override-1sn0ohr.ant-table-wrapper table {
        border-collapse: collapse;
        width: auto;
        @media only screen and (min-width: 1000px) {
            width: 100%;
        }
    }

    .css-dev-only-do-not-override-1sn0ohr.ant-table-wrapper .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
        display: none;
    }

    .css-dev-only-do-not-override-1sn0ohr.ant-table-wrapper .ant-table-container table>thead>tr:first-child>*:last-child {
        border-radius: 0 10px 10px 0;
    }

    .css-dev-only-do-not-override-1sn0ohr.ant-table-wrapper .ant-table-container table>thead>tr:first-child>*:first-child {
        border-radius: 10px 0 0 10px;
    }

    .css-dev-only-do-not-override-1sn0ohr.ant-table-wrapper .ant-table-tbody {
        border: 1.4px solid #b4a6a6;
        border-radius: 10px;
        font-size: 12px;
        font-weight: 400;
        font-style: normal;
    }

    .css-dev-only-do-not-override-1sn0ohr.ant-form-item  {
        margin-bottom: 3px;
    }
    .css-dev-only-do-not-override-1sn0ohr.ant-table-wrapper {
        overflow-y: auto;
    }
    .css-dev-only-do-not-override-1sn0ohr.ant-pagination .ant-pagination-options {
        display: none;
    }
    .css-dev-only-do-not-override-1sn0ohr.ant-table-wrapper .ant-table-pagination-right  {
        // display: inline-table;
        justify-content: center;
    }
}