.phcoPage {

    .table {
        @media only screen and (min-width: 600px) {
            margin: 40px 60px;
        }
        @media only screen and (max-width: 600px) {
            margin: 10px;
        }
    }

    .table {

        .statisticsContainer {
            .statistics {
                text-align: center;
                padding: 5px;
                background-color: #124f8c;
                border: 1px solid #000000;
                border-radius: 10px 10px 0px 0px;

                .title {
                    color: white;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 130%;
                }
            }
        }

        .selectItemsContainer {
            border: 1px solid;
            border-radius: 0px 20px 20px 20px;
            margin: 0 0 20px 0;

            // padding: 10px;
            @media only screen and (max-width: 600px) {
                border-radius: 0px 0 20px 20px;
            }

            // align-items: center;
            // margin: 0 0 20px 0;

            .selecttypes {
                margin: 15px;

                .title {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 130%;
                }
            }
        }

        .slectRows {
            text-align: left;

            .rowsSelect {
                @media only screen and (min-width: 600px) {
                    max-width: 100px;
                }
            }
        }
        .headerRow{
            display: flex;
            align-items: center;
            span {
                font-size: 18px;
                font-weight: 600;
            }
        }

        .searchContainer {
            text-align: right;
        }
        
        .tableActions {
            margin: 0;
            // display: flex;
            // flex-direction: column;
            Button {
                margin: 0 2px;
                height: 5vh;
            }
        }
    }
}