.homePage {
    .headerContainer {
        background-color: #124f8c;
        height: 70px;

        .headerRow {
            align-items: end;
            padding-top: 6px;
        }

        .leftSideImage {
            text-align: left;
            padding-left: 10px;
        }

        .centerName {
            .title {
                color: white;
                font-size: 17px;
                letter-spacing: 0.2px;
                font-weight: 600;
            }

            .subTitle {
                color: white;
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
            }
        }

        .rightSideContent {
            @media only screen and (max-width: 780px) {
                text-align: center;
            }
            text-align: end;

            .title {
                color: white;
                letter-spacing: 0.5px;
            }

            .subTitle {
                color: white;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
            }
            .loginTime {
                color: black;
                font-size: 10px;
                font-weight: 700;

            }
        }

        .rightSideImage {
            text-align: right;
            padding-right: 10px;
        }
    }
}