.sidebar {
    background-color: #295076;
}

.spec-footer {
    background-color: #aed7f0;
}

.spec-header {
    background-color: #1eb0c6;
}

.header-title {
    color: black;
    font-size: 30px;
}