.sidebar {
    background-color: #295076;
}

.spec-footer {
    background-color: #aed7f0;
}

.spec-header {
    background-color: #1eb0c6;
}

.header-title {
    color: black;
    font-size: 30px;
}

.scroll-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }
  
  .scroll-content {
    display: inline-block;
    animation: scroll 10s linear infinite;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
.scroll-title {
    color: rgb(130, 179, 37);
    font-size: 15px;
}