$border_line_color : 1px solid #000000;

.userDeatilsPage {
    // overflow-y: scroll;

    
    .table {
        margin: 30px 30px 0 30px;
            .userTitle {
                text-align: left;
                margin: 0 0 10px 0;
        
                .title {
                    font-size: 22px;
                    font-weight: 600;
                }
            }
        .tableBorder {
            padding: 20px 20px 0 20px;
            border: $border_line_color;
            border-radius: 10px;
        }
        .addUser{
            text-align: end;
        }
    }

    @media only screen and (max-width: 600px) {
        .tableBorder {
            overflow-x: scroll;
        }

        .table {
            margin: 10px;
        }
    }

    .footerRow {
        padding: 20px;
        .footerLeft {
            text-align: left;
        }
        .footerRight {
            text-align: right;
        }

    }
}