.reportsTable {
    .table {
        @media only screen and (min-width: 600px) {
            margin: 40px 40px;
        }
        @media only screen and (max-width: 600px) {
            margin: 10px;
        }
    }

    .table {

        .statisticsContainer {
            .statistics {
                text-align: center;
                padding: 7px;
                background-color: #124f8c;
                border: 1px solid #000000;
                border-radius: 10px 10px 0px 0px;

                .title {
                    color: white;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 130%;
                }
            }
        }

        .selectItemsContainer {
            border: 1px solid;
            border-radius: 0px 20px 20px 20px;
            margin: 0 0 20px 0;

            // padding: 10px;
            @media only screen and (max-width: 600px) {
                border-radius: 0px 0 20px 20px;
            }

            // align-items: center;
            // margin: 0 0 20px 0;

            .selecttypes {
                margin: 15px;

                .title {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 130%;
                }
                .orderData{
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }

        .slectRows {
            text-align: left;

            .rowsSelect {
                @media only screen and (min-width: 600px) {
                    max-width: 100px;
                }
            }
        }

        .searchContainer {
            text-align: right;
        }
    }

    .dashBoardHierarchy {
        display: block;
        margin: 1% 8% 3% 8%;
        padding: 1%;
    
        .statisticsContainer {
            .statistics {
                text-align: center;
                padding: 7px;
                background-color: #124f8c;
                border: 1px solid #000000;
                border-radius: 10px 10px 0px 0px;
    
                .title {
                    color: white;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 130%;
                }
            }
        }
        @media only screen and (max-width: 480px){
            .userName{
                display: none;
            }
            .statisticsLoginUser{
                display: flex;
                justify-content: center;
                align-items: center;
                .statistics {
                    .title {
                        color: black;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 130%;
                    }
                }
            }
        }
        @media only screen and (min-width: 481px){
            .statisticsLoginUser {
                display: none;
            } 
            .userName{
                display: flex;
                justify-content: center;
                align-items: center;
                .statistics {
                    .title {
                        color: black;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 130%;
                    }
                }
            }
        }
        .loginConatainer{
            .statistics {
                text-align: center;
                padding: 7px;
                background-color: #124f8c;
                border: 1px solid #000000;
                border-radius: 10px 10px 0px 0px;
                
                
                .title {
                    color: white;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 130%;
                }
            }
        }
        .loginBy{
            margin-left: 100px;
            // margin-top: 10px;
            font-size: 19px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    
        .orderItemsContainer {
            border: 1px solid;
            border-radius: 0px 20px 20px 20px;
            @media only screen and (max-width: 600px){
                border-radius: 0px 0 20px 20px;
            }
            align-items: center;
            margin: 0 0 20px 0;
            .titleContainer {
                .title {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 130%;
                }
            }
    
            .orderItems {
                margin: 20px 20px 20px 20px;
                height: 50px;
                background: #62A76C;
                border-radius: 10px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
    
                .title {
                    text-align: left;
                    font-size: 15px;
                    color: white;
                }
    
                .count {
                    text-align: right;
                    font-size: 15px;
                    color: white;
                }
            }
        }
    
        .menuItemsContainer {
            margin: 0 0 20px 0;
            @media only screen and (max-width: 600px){
                border-radius: 0px 0 20px 20px;
            }
            border: 1px solid #000000;
            border-radius: 0px 20px 20px 20px;
            text-align: center;
            .menuItems {
                margin: 40px;
                padding: 10px 0 0 0;
                height: 120px;
                // background: #62A76C;
                border-radius: 10px;
                // display: flex;
                flex-direction: column;
                justify-content: space-between;
    
                // align-items: center;
                .title {
                    margin: 20px 20px 0 20px;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 130%;
                    padding: 0 5px 5px 5px;
                    color: #FFFFFF;
                }
            }
    
        }
    }
    .informationContainer {
        @media only screen and (min-width: 600px) {
            margin: 40px 40px;
        }
        @media only screen and (max-width: 600px) {
            margin: 10px;
        }
        display: block;
        .infoContainer {
            .statistics {
                text-align: center;
                padding: 7px;
                background-color: #ce7e7e;
                border: 1px solid #000000;
                border-radius: 10px 10px 0px 0px;
    
                .title {
                    color: white;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 130%;
                }
            }
        }
        // flex-direction: column;  
        .buttonContainer {
            border: 1px solid;
            border-radius: 0 13px 13px 13px;
            padding: 20px;
            background-color: '#FFFFF';
            .infoButtons {
                @media only screen and (max-width: 600px) {
                    margin: 10px 0;
                }
                font-size: 15px;
            }:hover{
                color: #FFFFFF;
            }
        }
    }
}