.student-details-page {
    .css-dev-only-do-not-override-12upa3x.ant-btn {
        background-color: #3C5AB7;
        color: #FFFFFF;
        font-size: 14px;
        height: 32px;
        padding: 4px 20px;
        border-radius: 6px;
    };
};