.footerPage {
    .footerContainer {
        background-color: #124f8c;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .footerText {
            color: white;
            font-size: 16px;
            font-weight: 400;
        }

        .footerImage {
            & span {
                margin-right: 0.5vw;
                font-size: 16px;
                font-weight: 400;
                color: #FFFFFF;
            }
        }
    }
}